{% extends "model_page.html" %}

{% block content %}

<div>
    <ul style="font-size: 18px;">
        <h2>Agendamentos</h2>
        {% for evento in eventos %}
        <li>{{ evento.titulo }} - {{ evento.get_data_evento }}
            (
            <a href="evento/?id={{ evento.id }}">Editar</a>
            /
            <a href="evento/delete/{{ evento.id }}">Excluir</a>
            )
        </li>
        {% endfor %}
    </ul>
</div>
<div align="center">
    <a href="evento/">
        <button type="button">Adicionar evento</button>
    </a>
</div>

{% endblock %}